<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>#Include</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/js/fancybox/jquery.fancybox.css" rel="stylesheet" />

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu">
		
	<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a href="index.html#home">#Include</a></h1>
			<i class="fa fa-times menu-close"></i>
            <a href="#home" class="smoothScroll"><span class="fa fa-home" aria-hidden="true"></span> Home</a>
			<a href="#about" class="smoothScroll"><span class="fa fa-info-circle" aria-hidden="true"></span> About</a>
			<a href="#services" class="smoothScroll"><span class="fa fa-laptop" aria-hidden="true"></span> Services</a>
			<a href="#team" class="smoothScroll"><span class="fa fa-group" aria-hidden="true"></span> Team</a>
            <a href="#join" class="smoothScroll"><span class="fa fa-puzzle-piece" aria-hidden="true"></span> Join!</a>
			<a href="#contact" class="smoothScroll"><span class="fa fa-phone" aria-hidden="true"></span> Contact</a>
            <br/>
            <br/>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-envelope"></i></a>
		</div>
		
		<!-- Menu button -->
		<div id="menuToggle"><i class="fa fa-bars"></i></div>
	</nav>

	<section id="home" name="home"></section>
	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<h1 id="#none"><span id="none">#INCLUDE</span></h1>
				</div>
			</div><! --/row -->
		</div><! --/container -->
	</div><! --/headerwrap -->
	
	<section id="about" name="about"></section>
	<div id="aboutwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 name">
					<p id="RED"><i class="fa fa-info-circle" aria-hidden="true"></i> ABOUT #Include</p>
					<!--<div class="name-label"></div>-->
				</div><! --/col-lg-4-->
				<div class="col-lg-8 name-desc">
					<h2>UCD AGGIES <br/>CODING-DESIGNING-MANAGING-EDUCATING <br/>FOR NONPROFITS <span id="RED">100% FREE</span></h2>
					<div class="name-zig"></div>
					
					<div class="col-md-6">
						<p>#Include - Include the Community is a student-run organization that was founded by UC Davis computer science students during the summer of 2016.</p>
						<p>The club was founded because more and more non-profits were in need of a new or updated website, computer science students wanted more hands-on, practical experience, and non-computer science students wanted the chance to learn coding and experience the web development field. The solution? A close-knit club that benefits all parties.</p>
					</div>
					<div class="col-md-6">
						<p><span id="RED">GOAL:</span> Our main goal is to aid non-profits by providing technology assistance through website setup, redesigning, and maintanence. Whether you be a researcher, professor, or are part of a local charity, we're glad to help anyone and in anyway we can with our webdev skills.</p>
						<p>We want to give back to our community. One website at a time.</p>
					</div>
					
				</div><! --/col-lg-8-->
		
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /aboutwrap -->
	
	<! -- ABOUT SEPARATOR -->
	<div class="sep about" data-stellar-background-ratio="0.5"></div>
	
	<! -- PORTFOLIO SECTION -->
	<!--<section id="#" name="#"></section>
	<div id="portfoliowrap">
		<div class="container">
			<div class="row">
				<h1>PAST & CURRENT PROJECTS</h1>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox" href="assets/img/portfolio/port04.jpg"><img class="img-responsive" src="assets/img/portfolio/port04.jpg" alt=""></a>
	                            </div>
	                            <div class="overlay"></div>
	                        </div>
	                    </div>
	                </div>
				</div><!--col-lg-4-->
				
			<!--	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox" href="assets/img/portfolio/port05.jpg"><img class="img-responsive" src="assets/img/portfolio/port05.jpg" alt=""></a>
	                            </div>
	                            <div class="overlay"></div>
	                        </div>
	                    </div>
	                </div>
				</div><!-- col-lg-4-->
				
				<!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox" href="assets/img/portfolio/port06.jpg"><img class="img-responsive" src="assets/img/portfolio/port06.jpg" alt=""></a>
	                            </div>
	                            <div class="overlay"></div>
	                        </div>
	                    </div>
	                </div>
				</div><!-- col-lg-4 -->
			<!--</div><!-- /row -->
	
			<!--<div class="row mt">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox" href="assets/img/portfolio/port01.jpg"><img class="img-responsive" src="assets/img/portfolio/port01.jpg" alt=""></a>
	                            </div>
	                            <div class="overlay"></div>
	                        </div>
	                    </div>
	                </div>
				</div><!-- col-lg-4 -->
				
				<!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox" href="assets/img/portfolio/port02.jpg"><img class="img-responsive" src="assets/img/portfolio/port02.jpg" alt=""></a>
	                            </div>
	                            <div class="overlay"></div>
	                        </div>
	                    </div>
	                </div>
				</div><!-- col-lg-4 -->
				
				<!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox" href="assets/img/portfolio/port03.jpg"><img class="img-responsive" src="assets/img/portfolio/port03.jpg" alt=""></a>
	                            </div>
	                            <div class="overlay"></div>
	                        </div>
	                    </div>
	                </div>
				</div><!-- col-lg-4 -->
			<!--</div><!-- /row -->
		<!--</div><! --/container -->
		<div class="container">
			<div class="row mt centered">
				<h1>HOW IT WORKS</h1>
				<div class="col-lg-4 proc">
					<i class="fa fa-coffee fa-4x"></i>
					<h3>The Meeting</h3>
					<p>After you contact us, we'll set up a in-person/phone/skype meeting - whichever works best. We'll discuss deadlines, availability, your organzation or product, and any concerns you may have.</p>
				</div>
				<div class="col-lg-4 proc">
					<i class="fa fa-cogs fa-4x"></i>
					<h3>The Ideas</h3>
					<p>After our meeting, we'll get started setting up ASAP. We'll continue communication through emails so we can have the right info for your website as well as your input and preferences on the design of the new website.</p>
				</div>
				<div class="col-lg-4 proc">
					<i class="fa fa-heart fa-4x"></i>
					<h3>The Finished Website</h3>
					<p>When we're done, we'll "publish" the website and hand the source code to you. If you like, we can even show you some basic HTML so you can easily maintain your new website!</p>
				</div>
				
			</div><! --/row -->
		</div><! --/container -->
	</div><! --/Portfoliowrap -->

	<! -- PORTFOLIO SEPARATOR -->
	<div class="sep portfolio" data-stellar-background-ratio="0.5"></div>
	
	
	<! -- SERVICE SECTION -->
	<section id="#services" name="services"></section>
	<div id="servicewrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8-offset-2 centered">
					<h1 id="RED">SERVICES PROVIDED</h1>
					
				</div><!-- /col-lg-8 -->
			</div><! --/row -->
			
			<div class="row mt">
				<div class="col-lg-3 service">
					<i class="fa fa-laptop"></i><p>WEBSITE SETUP & CUSTOMIZATION<br/></p>
					<p class="text">Lacking a website for your organization or product? We can set one up for you! We'll be sure to get your input on customization and design and set up a beautiful website.</p>
				</div>
				<div class="col-lg-3 service">
					<i class="fa fa-pencil"></i><p>WEBSITE REDESIGN<br/></p>
					<p class="text">If your website is outdated our team is prepared to redesign its' looks. Whether you request simple changes or a complete overhaul, wer'e here to help!</p>
				</div>
				<div class="col-lg-3 service">
					<i class="fa fa-wrench"></i><p>WEBSITE MAINTENANCE & UPKEEP<br/></p>
					<p class="text">If your organization or product's info has changed and you're not sure how to make necessary website info updates then we can help you with that. We can also show you how you can easily maintain your website.</p>
				</div>
				<div class="col-lg-3 service">
					<i class="fa fa-globe"></i><p>DIGITAL MARKETING<br/></p>
					<p class="text">The improvement of your website can have a major impact on marketing. Additionally, we can help showcause your organization. Contact for more details.</p>
				</div>
			</div><! --/row -->
			<!--<div class="row mt">
				<div class="col-lg-3 service">
					<i class="fa fa-trophy"></i><p>PREMIUM QUALITY<br/><small>LOREM IPSUM DOLOR</small></p>
					<p class="text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
				</div>
				<div class="col-lg-3 service">
					<i class="fa fa-globe"></i><p>CLOUD SERVICES<br/><small>LOREM IPSUM DOLOR</small></p>
					<p class="text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
				</div>
				<div class="col-lg-3 service">
					<i class="fa fa-lock"></i><p>SECURED ACCOUNTS<br/><small>LOREM IPSUM DOLOR</small></p>
					<p class="text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
				</div>
				<div class="col-lg-3 service">
					<i class="fa fa-thumbs-up"></i><p>100% SATISFACTION<br/><small>LOREM IPSUM DOLOR</small></p>
					<p class="text">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
				</div>
			</div><! --/row -->
			
		</div><! --/container -->
	</div><! --/servicewrap -->
	
    <section id="#team" name="team"></section>
	<div id="testimonials" id="dark-grey">
		<div class="container" id="dark-grey">
			<div class="row" id="dark-grey">
				<div class="col-lg-8 col-lg-offset-2 mt" >
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
					  <!-- Wrapper for slides -->
					  <div class="carousel-inner">
					    <div class="item active mb centered">
					      <h3 id="NAME">YASH</h3>
                        <p><img class="img-circle" src="assets/img/pic-t1.jpg" width="80"></p>
                            <h4>CoFounder</h4>
					      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					      <p><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></p>
					    </div>

					    <div class="item mb centered">
					      <h3 id="NAME">SAILESH</h3>
                            <p><img class="img-circle" src="assets/img/Sailesh.jpg" width="80"></p>
                            <h4>CoFounder</h4>
					      <p>Sailesh is currently a junior majoring in Computer Science and Engineering and is working towards becoming a full-stack developer. He also takes interest and hopes to do work in data analytics or machine learning. He enjoys road trips and hiking during his free time and is also an avid fan of sports - both playing and watching. </p>
					     <p><a href="https://www.linkedin.com/in/saileshpatnala" target="_blank"><i class="fa fa-linkedin fa-3x" aria-hidden="true" target="_blank"></i></a></p>
					    </div>

					    <div class="item mb centered">
					      <h3 id="NAME">AUSTEN</h3>
                            <p><img class="img-circle" src="assets/img/austen.jpg" width="80"></p>
                            <h4>CoFounder</h4>
					      <p>Austen is a third year Computer Science major from Long Beach, CA.  In his spare time he rock climbs, does photography and hikes.  He helped found #Include because he has a passion for web development and feels that working with non-profits to build aesthetically pleasing websites can significantly further their causes.</p>
                            <p><a href="https://www.linkedin.com/in/austen-winters" target="_blank"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a></p>
					    </div>
                          
                          <div class="item mb centered">
					      <h3 id="NAME">MICHAELA</h3>
                              <p><img class="img-circle" src="assets/img/pic-t2.jpg" width="80"></p>
                              <h4>CoFounder</h4>
					      <p>Michaela is a current sophomore computer science major. She's from Lancaster, CA and loves drawing, running, eating, and reading. She decided to help found #Include because of the non-profits' growing need of beautiful websites to socially boost their products or cause and also joined to help fellow students learn to code.</p>
					      <p><a href="https://www.linkedin.com/in/michaela-poblete" target="_blank"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a></p>
					    </div>
                          
                          <div class="item mb centered">
					      <h3 id="NAME">RAHI</h3>
                              <h4>Club Manager</h4>
					      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					      <p><img class="img-circle" src="assets/img/pic-t3.jpg" width="80"></p>
					    </div>
                          
                          <div class="item mb centered">
					      <h3 id="NAME">ROSA</h3>
                              <h4>Client Manager</h4>
					      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					      <p><img class="img-circle" src="assets/img/pic-t3.jpg" width="80"></p>
					    </div>

					  </div>
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
					    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
					    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
					  </ol>
					</div>
                    </div><!--Team-->
				</div><! --/col-lg-8 -->
			</div><! --/row -->
		</div><! --/container -->
	</div><! --/testimonials -->
    
    <section id="join" name="join"></section>
      
      <div id="joinwrap">
			<div class="container">
			<div class="row">
				<div class="col-lg-4 name">
					<p id="RED"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> JOIN #Include</p>
					<!--<div class="name-label"></div>-->
				</div><! --/col-lg-4-->
				<div class="col-lg-8 name-desc">
					<h2>Why<span id="RED"> Join</span>?</h2>
					<!--<div class="name-zig"></div>-->
					
					<div class="col-md-6">
						<p>Join us at #Include. We're gonna be honest with you. There are many benefits for joining :) There's pros for everyone. Where should we start?</p>
						<p>Whether you be a computer science, chemical engineering, psychology, animal science major - you name it, you can become an integral part of this code-based club. We seek to help through code and creativity and have fun while at it! Whether you be a freshman straight out from high school, a fifth year, a transfer student, we're certain you will contribute!</p>
					</div>
					<div class="col-md-6">
                        <p>Whether you're learning or teaching code in #Include, you'll start getting hands-on experience in front-end development, meet like-minded people in our close-knit community, volunteer by coding or managing, gain practical experience, and aid the community - all in one go.</p>
						<p>Not confident of your coding skills or don't know how to code? It's okay! We're a learning team - we can show you how. You don't have to be a cs major to code. You will learn how to create websites using HTML, CSS, and Bootstrap. If you have any questions, be sure to contact us -we'd love to answer any questions you have. </p>
					</div>
					
				</div><! --/col-lg-8-->
		
			</div><!-- /row -->
		</div><!-- /container -->
	</div>
	
	<! -- SERVICE SECTION -->
	<section id="contact" name="contact"></section>
	<! -- CONTACT SEPARATOR -->
	<div class="sep contact" data-stellar-background-ratio="0.5"></div>
	
	<div id="contactwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<p>CONTACT US RIGHT NOW!</p>
					<p>Don't hesitate to leave us any questions or general inquiries. Don't forget to hit Submit!</p>
					<p>
						<small>Bainer Hall 1122<br/>
						Davis, CA 95616<br/>
						USA.</small>
					</p>
					<p>
						<small>
						<i id="RED" class="fa fa-envelope"></i> #Include@gmail.com<br/>
					</p>
                    <a href="mailto:#include@gmail.com">Contact</a>
			
				</div>
                
                
				<!--
				<div class="col-lg-6">
					<form role="form">
					  <div class="form-group">
					    <label for="exampleInputName1">Your Name</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter name">
					    <label for="exampleInputEmail1">Email address</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					    <label for="exampleInputText1">Message</label>
					    <textarea class="form-control" rows="3"></textarea>
					  </div>
					  <button type="submit" class="btn btn-default" id="customized-button">Submit</button>
					</form>
				</div>-->
			
			</div><! --/row -->
		</div><!-- /container -->
	</div>
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="../static/js/classie.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/smoothscroll.js"></script>
	<script src="../static/js/jquery.stellar.min.js"></script>
	<script src="../static/js/fancybox/jquery.fancybox.js"></script>    
	<script src="../static/js/main.js"></script>
		<script>
		$(function(){
			$.stellar({
				horizontalScrolling: false,
				verticalOffset: 40
			});
		});
		</script>
		
		<script type="text/javascript">
      $(function() {
        //    fancybox
          jQuery(".fancybox").fancybox();
      });
	   </script>

  </body>
</html>
